html, body {
  color: #4a4a4a;
  background-color: #eae5de;
}

h1, h2, h3 {
  color: #4a4a4a;
}

a {
  color: #37AB74;
}

/* .navigation_button { */
/*   background-color: #fff; */
/*   border: 1px solid; */
/*   border-color: #e4e4e4; */
/*   border-width: 1px 1px 2px; */
/*   color: #4a4a4a; */
/*   font-weight: bold; */
/*   box-shadow: 0 0 3px #E4E4E4 inset; */
/* } */

/* p.navigation_button { */
/*   font-weight: normal; */
/*   color: #A2A2A2; */
/* } */

header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e4e4e4;
  margin-left: auto;
  margin-right: auto;
}

.header_right a {
  color: #666;
}

/* #code_of_conduct_list strong { */
/*   color: #4a4a4a; */
/* } */

/* @media screen and (max-width: 940px) { */
/*     header { */
/*         width: 100%; */
/*     } */
/* } */

footer {
  border-top: 1px solid #E4E4E4;
}

/* table.admin_panel th { */
/*   color: #4a4a4a; */
/* } */

.mediagoblin_content .button_action,
.mediagoblin_content .button_action_highlight,
.mediagoblin_content .button_form {
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid;
  border-color: #E4E4E4;
  border-width: 1px 1px 2px;
  padding: 5px 10px;
  box-shadow: 0 0 3px #E4E4E4 inset;
}

/* .button_action_highlight, .button_form { */
/*   color: #fff; */
/*   background-color: #37AB74; */
/*   border-color: #6CAA8E; */
/*   border-width: 1px 1px 2px; */
/*   box-shadow: 0 0 3px #6CAA8E inset; */
/* } */

/* .button_info { */
/*   background-color: #9dbed5; */
/*   border-color: #E4E4E4; */
/*   color: #C3C3C3; */
/*   box-shadow: 0 0 3px #49717F inset; */
/* } */

/* .button_warning { */
/*   background-color: #d6ae96; */
/*   border-color: #E4E4E4; */
/*   color: #4a4a4a; */
/*   box-shadow: 0 0 3px #7F6859 inset; */
/* } */

/* input, textarea { */
/*   color: #4a4a4a; */
/* } */

.form_box, .form_box_xl {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}

.media_thumbnail {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 2px rgb(0,0,0,0.3);
}

.media_thumbnail a {
  color: #4a4a4a;
}

/* .empty_space { */
/*   background-image: url("../images/empty_dots.png"); */
/* } */
