<div class="pa3" style="background: url('https://ngmedia.org.au/images/news_bg.jpg');">
  <a href="{{ request.urlgen('index') }}">
      <img src="https://ngmedia.org.au/images/logo.png" alt="NG media" />
  </a>
</div>
